body{
   margin: 0;
}
.mountain{
    



}
.head{
        background-color: #fff700;
        height: 100px;
        width: 1920px;
        margin: 10px;
       position: absolute;
       margin-top: 10px;
        border: 10px;
        padding: auto;

}